services:
  apim:
    image: ${WSO2_APIM_IMAGE}
    container_name: apim
    environment:
      - JVM_MEM_OPTS=${APIM_JVM_MEM_OPTS}
    ports:
      - "${APIM_HTTPS_PORT}:9443"
      - "${APIM_HTTP_PORT:-9763}:9763"
      - "${APIM_GW_HTTP_PORT}:8280"
      - "${APIM_GW_HTTPS_PORT}:8243"
    volumes:
      - ./apim/conf/deployment.toml:/home/wso2carbon/wso2am/repository/conf/deployment.toml
    restart: unless-stopped
